@font-face {
  font-family: 'Karbon Regular';
  src: url('../fonts/karbonregular.otf');
}
@font-face {
  font-family: 'Karbon Bold';
  src: url('../fonts/karbonbold.otf');
}
@font-face {
  font-family: 'Karbon Medium';
  src: url('../fonts/karbonmedium.otf');
}
@font-face {
  font-family: 'Karbon Thin';
  src: url('../fonts/karbonthin.otf');
}
@font-face {
  font-family: 'Karbon Light';
  src: url('../fonts/karbonlight.otf');
}

nav {
  position: sticky !important;
  top: 0;
  height: 106px !important;
  z-index: 1;
  background-color: #000;
  box-shadow: 0 5px 40px 10px #000;
}

html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/landingbg.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #000;
  font-family: 'Karbon Regular';
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.nav > li > a {
  color: #fff;
}

.nav > li > a.mobile-submenu-item {
  font-size: 20px;
}

.nav > li > a:focus,
.nav > li > a:hover {
  background-color: initial !important;
}

.nav {
  margin-top: 42px;
}

.navbar-nav > li > a {
  padding-top: 14px;
  padding-bottom: 6px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .main {
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .main {
    margin-top: 60px;
  }
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -210px;
  margin-left: 15px;
  margin-right: 15px;
}

.page-wrap:after {
  content: '';
  display: block;
}

.nav-item {
  margin-left: 0px;
  margin-right: 0px;
}

.nav-link {
  font-size: 16px;
  padding-top: 2px;
}

.disabled-link {
  pointer-events: none !important;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.disabled :hover {
  border-bottom: none !important;
  cursor: default !important;
}

.disabled :hover {
  border-bottom: none !important;
  cursor: default !important;
}

.nav-item.active > a {
  margin-bottom: -3px;
  border-bottom: 3px solid #e4001b !important;
  padding-bottom: 10px;
  text-decoration: none;
  background-color: #000;
  color: #ffffff;
}

.mobile-navbar-toggle {
  position: absolute;
  right: 0;
  top: -8px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
}

#mobile-navbar li {
  font-size: 24px;
  text-align: center;
}

#mobile-navbar li.active {
  background: #e4001b;
}

@media (min-width: 768px) {
  .mobile-navbar-container,
  .mobile-navbar-toggle {
    display: none;
  }
}
.right-corner-bg {
  position: absolute;
  right: 0;
  top: 0;
  float: right;
  z-index: 10;
}
.left-corner-bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
.fade-bg {
  position: absolute;
  top: 0;
  z-index: -5;
}
.framelines {
  width: 1576px;
  margin-left: auto;
  margin-right: auto;
}
.corners {
  z-index: 5;
  position: sticky;
  top: 0;
  height: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}

.obelisk-header {
  color: #e61b25;
  margin-left: -10px;
  margin-bottom: 40px;
}

.separator {
  margin-left: 4px;
  height: 28px;
  width: 15px;
  border-bottom: 3px solid #696969;
  margin-bottom: 30px;
}

.batch-number {
  font-size: 25px;
  font-family: 'Karbon Regular';
  color: #8f989f;
  position: relative;
  top: 12px;
  margin-bottom: 10px;
}

.red-separator {
  margin-left: 4px;
  height: 10px;
  width: 15px;
  border-bottom: 3px solid #de0035;
}

.something-big {
  font-size: 40px;
  font-family: 'Karbon Thin';
  margin-top: 30px;
  margin-bottom: 15px;
  color: #fff;
}
.newdevelopment {
  font-size: 18px;
  color: #8f989f;
  margin-bottom: 10px;
}
.center-block {
  margin-bottom: 30px;
}
.counter-item {
  display: inline-block;
  margin-right: 25px;
  text-align: center;
}
.counter-label {
  margin-bottom: 5px;
}
.counter-number {
  display: inline-block;
  font-family: 'Karbon Light';
  font-size: 48px;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  width: 50px;
  padding-top: 7px;
  border-radius: 3px;
  background-image: url('../img/counterbg.png');
  background-position: -40px 143px;
}
.counter {
  display: inline-block;
}
.arrow {
  margin-top: 50px;
}
.counter-row {
  margin-top: 10px;
  vertical-align: middle;
}
.meettheminer {
  margin-top: 10rem;
}
.section-header {
  font-family: 'Karbon Thin';
  font-size: 35px;
  color: #fff;
}
.section-description {
  font-size: 16px;
  color: #8f989f;
}
.separator-arrow {
  width: 15px;
  height: 20px;
  border-bottom: 2px solid #fff;
  margin-left: 4px;
}
.separator-muted {
  width: 15px;
  height: 25px;
  border-bottom: 2px solid #666666;
  margin-left: 4px;
}
.separator-verymuted {
  width: 15px;
  height: 15px;
  margin-bottom: 35px;
  border-bottom: 2px solid #333333;
  margin-left: 4px;
}
.separator-arrow img {
  display: inline-block;
  margin-left: 70px;
  width: 25px;
  margin-top: 10px;
}
.tweetthis {
  margin-top: 11px;
}
.strengthinnumbers {
  margin-top: 80px;
  background-image: url('../img/gpucomparison.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left 35px;
  height: 695px;
}
@media (max-width: 1000px) {
  .strengthinnumbers {
    margin-top: 30px;
    background-position: center 150px;
    height: 450px;
  }
}
.terms {
  list-style: none;
  font-family: 'Karbon Light';
  color: #4f4d4d;
  font-size: 20px;
}
@media (max-width: 530px) {
  .poweredby {
    font-size: 16px !important;
  }
  .terms {
    font-size: 16px;
    position: relative;
    left: -16px;
  }
}

.terms a {
  display: inline-block;
  color: #666666;
}
.techdetails {
  margin-top: 25px;
  margin-bottom: 20px;
}
.tech-specs > .note {
  color: #b4b4b4;
  width: 90%;
  border-radius: 3px;
}
.tech-specs {
  background-image: url('../img/calculator-background.png');
  background-size: 106%;
  background-position: -20px -442px;
  width: 390px;
  height: 370px;
  padding-top: 20px;
  padding-left: 50px;
  margin-top: 20px;
  border-radius: 4px;
}
.tech-specs > h3 {
  font-family: 'Karbon Thin';
  color: #fff;
  font-size: 30px;
  margin-bottom: 40px;
  margin-top: 6px;
}
.specs {
  margin-top: 40px;
  width: 190px;
}
.spec {
  margin-bottom: 10px;
}
.spec .label {
  font-size: 18px;
  margin: 0;
  padding: 0;
}
.spec .amount {
  font-size: 18px;
  color: #fff;
}
.price {
  margin-top: 50px;
}
.price div {
  display: inline-block;
}
.price .label {
  font-size: 25px;
  color: #fff;
  padding: 0;
  margin: 0;
}
.price .amount {
  font-size: 25px;
  color: #fff;
  font-family: 'Karbon Light';
  margin-left: 10px;
}
.tech-specs .footnote {
  position: absolute;
  bottom: 30px;
  width: 210px;
  color: #be808e;
}
@media (max-width: 1200px) {
  .specsheet {
    margin-left: auto;
    margin-right: auto;
  }
}
.tech-col h3 {
  font-family: 'Karbon Thin';
  color: #fff;
  font-size: 30px;
}
.tech-col h4 {
  font-family: 'Karbon Thin';
  color: #fff;
  width: 350px;
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: 50px;
}

.price-preorder-section > .price {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 38px;
  color: #fff;
  font-family: 'Karbon Light';
  margin-top: 14px;
}
.price-dollar {
  color: #afafaf;
}
.price-preorder-section > .preorder-button {
  display: inline-block;
  margin-left: 4px;
  margin-top: 18px;
}
.price-preorder-section {
  display: flex;
  align-items: center;
}
.tech-specs-side > .spec > .name {
  font-family: 'Karbon Regular';
  font-size: 18px;
  color: #fff;
}
.tech-specs-side > .spec > span {
  font-family: 'Karbon Light';
  font-size: 18px;
  color: #afafaf;
  margin-left: 4px;
}
.preorder.price {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 38px;
  color: #fff;
  font-family: 'Karbon Light';
}
.now-only {
  font-size: 22px;
  vertical-align: middle;
  margin-right: 40px;
  top: 5px;
  position: relative;
}
.spec {
  margin-bottom: 1px;
}
.tech-col p {
  font-size: 16px;
  color: #8f989f;
  max-width: 400px;
}
.subscribe {
  position: relative;
  right: 0;
  z-index: 0;
  margin-top: 0px;
  margin-left: 5px;
  width: 100%;
}
.subscribe-col {
  text-align: left;
  position: relative;
  right: 0;
  background-position: right;
  margin-left: auto;
  padding-top: 52px;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  margin-right: 10px;
}
.subscribe-header {
  text-align: left;
  font-size: 30px;
  font-family: 'Karbon Light';
  color: #fff;
  margin-bottom: 23px;
}
.subscribe-col input {
  margin-right: 3px;
  height: 45px;
}
@media (max-width: 742px) {
  .subscribe-col {
    height: 400px;
  }
  .subscribe-col input {
    width: 100%;
    margin-top: 5px;
  }
  .subscribebtn {
    margin: 0 !important;
    padding: 0 !important;
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px !important;
  }
}

.nameinput,
.phoneinput {
  width: 150px;
}
.emailinput {
  width: 220px;
}
.subscribebtn {
  background-color: #000;
  margin-left: 4px;
  margin-top: 1px;
  border: 2px solid #fff;
  border-radius: 1px;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  text-align: center;
  box-sizing: content-box;
  width: 115px;
  padding: 0;
  height: 41px;
}
.subscribebtn:hover {
  background-color: #111 !important;
  border: 2px solid #eee !important;
}

.footer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #ff0000;
  background-color: #121212;
  position: absolute;
  width: 100%;
  height: 210px;
  z-index: 10;
}
.footer > *:not(img) {
  width: 210px;
}

.footer,
.page-wrap:after {
  height: 210px;
}

.followus {
  margin-bottom: 10px;
}
.followus img {
  height: 20px;
  margin-bottom: 2px;
}
.followus,
.poweredby {
  font-family: 'Karbon Light';
  color: #4f4d4d;
  font-size: 20px;
  text-align: center;
}
.frameline-left,
.frameline-right {
  background-image: url('../img/frameline-left.png');
  z-index: 2;
  background-repeat: no-repeat;
  background-size: 100% 69%;
  width: 3px;
  height: 1000px;
  position: fixed;
  top: 57px;
}
.frameline-left {
  left: 82px;
  z-index: 2;
}
.frameline-right {
  right: 82px;
}
@media (max-width: 1370px) {
  .frameline-left,
  .frameline-right {
    display: none;
  }
}
@media (min-width: 1000px) {
  .hardware-shot {
    position: absolute;
    left: 620px;
    top: 20px;
    width: 90%;
    z-index: -1;
  }
}

@media (max-width: 1200px) {
  .hardware-shot {
    left: 521px;
    top: 104px;
    width: 108%;
  }
}

@media (max-width: 1000px) {
  .hardware-shot {
    width: 80%;
    left: -15px;
    position: relative;
    top: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .hardware-shot {
    width: 80%;
    z-index: -1;
  }
}

@media (max-width: 768px) {
  .counter-number {
    font-size: 35px;
    width: 30px;
    background-position: -40px 134px;
  }
  .counter-item {
    margin-right: 10px;
  }
  nav {
    display: none;
  }
}

.order-section,
.order-main {
  margin-bottom: 140px;
}
.order-main {
  display: none;
}
#order-step1 {
  display: block;
}
.order-form > h3 {
  color: #fff;
  font-family: 'Karbon Thin';
  font-size: 35px;
  margin-top: 43px;
}
.order-section > .separator {
  border-bottom: 2px solid #696969;
  height: 26px;
}
.order-form > p,
input,
select {
  margin-left: 0px;
}
.order-form > select,
.order-form > input,
.statezip > input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #3e3e3e;
  margin-bottom: 15px;
  display: inline-block;
  padding-left: 2px;
  height: 35px;
  font-size: 20px;
  font-family: 'Karbon Light';
  color: #9f9f9f;
}
.order-form > select {
  padding-left: 0;
  width: 100%;
}
.order-form > input:focus,
.statezip > input:focus {
  border-bottom: 1px solid #8e8e8e;
  box-shadow: none;
}
.order-form > .note {
  margin-top: 20px;
  font-family: 'Karbon Light';
  color: #7e7e7e;
}
.quantity-section,
.cost-section {
  padding-top: 200px;
}
@media (max-width: 992px) {
  .quantity-section {
    padding-top: 0;
  }
  .preorder-title::after {
    content: '';
    position: absolute;
    top: 50px;
    left: 5%;
    height: 1px;
    width: 90%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,3a3a3a+16,3a3a3a+84,000000+100 */
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(
      left,
      #000000 0%,
      #3a3a3a 16%,
      #3a3a3a 84%,
      #000000 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      left,
      #000000 0%,
      #3a3a3a 16%,
      #3a3a3a 84%,
      #000000 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to right,
      #000000 0%,
      #3a3a3a 16%,
      #3a3a3a 84%,
      #000000 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
  }
}

@media (max-width: 768px) {
  .quantity-section {
    padding-top: 0;
  }
  .preorder-title::after {
    background: none;
  }
}

.quantity-section > h3 {
  font-family: 'Karbon Light';
  color: #9b9ea2;
  font-size: 22px;
}
.quantity-form {
  margin-top: 35px;
  margin-left: 35px;
}
.quantity-form > input {
  margin-left: 10px;
  margin-right: 10px;
  width: 90px;
  height: 55px;
  margin-top: 4px;
  vertical-align: middle;
  background: transparent;
  border: 2px solid #343434;
  font-family: 'Karbon Thin';
  font-size: 48px;
  text-align: center;
  padding-top: 10px;
  color: #fff;
}
.quantity-form > button {
  width: 40px;
  height: 40px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-color: transparent;
  display: inline-block;
}
.quantity-form > .minus-button {
  background-image: url('../img/minus-button.png');
}
.quantity-form > .plus-button {
  background-image: url('../img/plus-button.png');
}
.next-button {
  cursor: pointer;
  position: relative;
  display: inline-block;
  right: -182px;
  top: 100px;
  background-image: url('../img/nextbutton.png');
  background-position: center;
  background-size: 100% 100%;
  width: 40px;
  height: 40px;
}
.statezip > input {
  display: inline-block;
  width: 49.5%;
  padding: 0;
  margin: 0;
}
.statezip {
  width: 100%;
  margin-left: 25px;
  margin-bottom: 15px;
}
.order-form > select {
  appearance: none;
}
.back-button {
  cursor: pointer;
  background-image: url('../img/backbutton.png');
  background-position: center;
  background-size: 100% 100%;
  width: 40px;
  height: 40px;
  position: relative;
  top: 28px;
  left: 90px;
}
.estimated-cost > .amount {
  color: #fff;
}
.estimated-cost > * {
  font-family: 'Karbon Thin';
  font-size: 62px;
  display: inline-block;
}
.estimated-cost > .money {
  color: #7b7b7b;
}
.cost-section > .note {
  font-family: 'Karbon Light';
  color: #7e7e7e;
  font-size: 18px;
  margin-top: -25px;
}
.cost-section > h3 {
  font-family: 'Karbon Light';
  color: #9b9ea2;
  margin-bottom: 15px;
}
.cost-section > .next-button {
  top: 68px;
}
.checkout > p {
  color: #a0a3a9;
  font-family: 'Karbon Light';
  font-size: 18px;
}
.checkout > h3 {
  margin-bottom: 20px;
}
.checkout > .note {
  margin-top: 0px;
  font-size: 16px;
}
.checkout > .estimated-cost {
  margin-left: 20px;
  margin-top: -18px;
}
.final-cost-section > h3 {
  font-family: 'Karbon Light';
  color: #a0a3a9;
  margin-top: 177px;
  margin-bottom: 0;
}
.estimate {
  width: 100%;
  margin-bottom: -33px;
}
.estimate > * {
  font-size: 68px;
  font-family: 'Karbon Thin';
  display: inline-block;
}
.estimate > .amount-label {
  color: #808080;
}
.estimate > .amount {
  padding-left: 10px;
  color: #fff;
}
.terms-check > * {
  margin-top: 50px;
  display: inline-block;
}
.terms-check > p {
  font-family: 'Karbon Light';
  color: #a0a3a9;
  font-size: 18px;
  width: 60%;
  margin-top: 25px;
}
.terms-check > input {
  position: relative;
  top: -25px;
}
.final-cost-section > .next-button {
  top: 25px;
}
.payment > p {
  color: #a0a3a9;
  font-family: 'Karbon Light';
  margin-left: 30px;
  margin-top: 26px;
  font-size: 18px;
}
.payment-options {
  width: 100%;
  margin-left: -15px;
  margin-top: 30px;
  margin-bottom: 40px;
}
.payment-options > .payment-option {
  display: inline-block;
  width: 49%;
  text-align: center;
  cursor: pointer;
}
.payment-option > p {
  color: #fff;
  font-family: 'Karbon Light';
  font-size: 16px;
  margin-top: 20px;
}
.payment-option > img {
  transform: scale(0.75);
}
.payment-selection-section {
  padding-top: 215px;
}
.payment-selection-section > p {
  font-family: 'Karbon Light';
  color: #a0a3a9;
  font-size: 18px;
}
.payment-selection-section > .next-button {
  top: 78px;
}

.preorder-main {
  margin-top: 0;
}

.preorder-button:hover {
  text-decoration: none;
  color: #e4001b;
  background: #202020;
}

.preorder-button {
  display: inline-block;
  width: 125px;
  height: 40px;
  margin-top: 5px;
  border: 2px solid #666666;
  border-radius: 100px;
  text-align: center;
  padding-top: 6px;
  text-decoration: none;
  font-size: 20px;
  color: #e4001b;
  background: black;
}

.preorder-button-alt {
  border: 2px solid #afafaf;
}

.profit-calculator > * > h3 {
  font-family: 'Karbon Medium';
  color: #fff;
  font-size: 16px;
  margin-bottom: 1px;
}
.profit-results {
  margin-top: 25px;
}
.profit-results > .result {
  margin-top: 24px;
}
.profit-result > .result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.profit-result > h3 {
  margin-top: 2px;
  margin-bottom: 1px;
}
.profit-result > .result > .amount {
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Karbon Medium';
  font-size: 34px;
  color: #fff;
}
.profit-result > .result > .unit {
  font-family: 'Karbon Medium';
  color: #c39b9b;
  font-size: 30px;
}
.profit-result > h3 {
  width: 82%;
  padding-bottom: 5px;
  font-family: 'Karbon Light';
  color: #fff;
  font-size: 18px;
  border-bottom: 1px solid #a9465c;
}
.profit-calculator > * > input {
  margin-left: -7px;
  border: 1px solid #a53346;
  background: #951522;
  color: #fff;
  font-family: 'Karbon Light';
  font-size: 22px;
  padding: 4px 2px 2px 10px;
  width: 85%;
  height: 35px;
}

@media (min-width: 768px) {
  .ordercounts-container {
    display: flex;
    width: 560px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .ordercounts-container {
    display: flex;
    width: 360px;
    margin-left: 30px;
    margin-bottom: 30px;
    width: 100%;
  }
}

.ordercount {
  margin-right: 40px;
  flex: 1;
}

.ordercount-product-label {
  margin-right: 20px;
  font-size: 31px;
  color: #e4001b;
}

.red-gradient-text {
  background-image: -webkit-linear-gradient(top, #ff0000, #230000); /* For Chrome and Safari */
  background-image: -moz-linear-gradient(top, #ff0000, #230000); /* For old Fx (3.6 to 15) */
  background-image: -ms-linear-gradient(top, #ff0000, #230000); /* For pre-releases of IE 10*/
  background-image: -o-linear-gradient(top, #ff0000, #230000); /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(
    to bottom,
    #ff0000,
    #230000
  ); /* Standard syntax; must be last */
  color: transparent;
  -webkit-background-clip: text;
  font-family: 'Karbon Light';
  background-clip: text;
}

@media (max-width: 768px) {
  .red-gradient-text {
    width: 82px;
  }
}

/* Oerride for IE */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .red-gradient-text {
    background-image: none;
    color: red;
    font-family: 'Karbon Light';
  }
}

.ordercount-label {
  font-size: 20px;
  color: #666;
  text-align: left;
  position: relative;
  top: -2px;
}
.ordercount-coin-logo {
  margin-right: 10px;
  margin-left: 5px;
  width: 36px;
  position: relative;
  top: -4px;
}
.ordercount-count {
  font-family: 'Karbon Bold';
  color: red;
  font-size: 20px;
  margin-left: 5px;
}
.order-bar {
  height: 3px;
  background-color: #666;
  margin: 0;
  margin-bottom: 16px;
}
.order-bar-inner {
  height: 3px;
  background-color: #e4001b;
  width: 0;
}
.aboutus-header {
  font-family: 'Karbon Thin';
  color: #fff;
  font-size: 44px;
}
.about-main {
  margin-top: 40px;
}
.about-infocol {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
}
.about-infocol > p {
  color: #a7a7a7;
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 25px;
  font-family: 'Karbon Light';
}
.about-section > .separators {
  margin-top: 40px;
  margin-bottom: 80px;
}
.about-infocol > .contact-info {
  margin-top: 55px;
}
.about-infocol > .contact-info > p {
  padding: 0;
  margin: 0;
  color: #a7a7a7;
  font-size: 22px;
  line-height: 24px;
  font-family: 'Karbon Light';
}
.contact-info > .contact-link {
  display: inline-block;
  padding-top: 25px;
  color: red;
  text-decoration: none;
  font-size: 22px;
}

.coming-soon {
  position: absolute;
  left: 135px;
  top: -80px;
  opacity: 0.4;
  z-index: -1;
}

.product-list-heading {
  font-family: 'Karbon Light';
  color: #fff;
  font-size: 30px;
  margin-top: 60px;
}

.product-heading {
  font-family: 'Karbon Thin';
  color: #fff;
  font-size: 44px;
}

.product-subheading {
  font-family: 'Karbon Thin';
  color: #fff;
  font-size: 26px;
}

.product-section-title {
  font-family: 'Karbon Thin';
  color: #fff;
  font-size: 26px;
  margin-top: 40px;
}

.product-details {
  font-family: 'Karbon Thin';
  color: #8f989f;
  font-size: 20px;
}

.product-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.product-extra-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product-pic {
  width: 80%;
  align-self: flex-end;
}

.grin-pic {
  width: 60%;
}

.product-card-container {
  grid-auto-rows: 1fr;
}

.product-card {
  background: #202020;
  color: white;
  margin-bottom: 40px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}

.product-card-image-table {
  display: table;
  table-layout: fixed;
}

.product-card-image-container {
  display: table-cell;
  vertical-align: top;
  padding-bottom: 15px;
}

.product-card-image {
  max-width: 100%;
}

.action-btns {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.hero-action-btns {
  margin-bottom: 15px;
}

.hero-btns {
  display: inline-block;
  margin-right: 15px;
}

.hero-action-btns > button {
  margin-right: 15px;
}

.learn-more-btn,
.buy-now-btn {
  background-color: black;
  border: 2px solid #e4001b;
  color: red;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding-top: 6px;
  font-size: 16px;
}

.buy-now-btn2 {
  color: #e4001b;
  border: 2px solid #e4001b;
  background: black;
  padding: 8px;
  font-size: 20px;
  font-family: 'Karbon Bold';
  text-align: center;
  width: 200px;
  padding-bottom: 4px;
}

.sold-out {
  font-size: 18px;
  color: red;
  padding-top: 8px;
}

@media (min-width: 1200px) {
  .hero-card {
    height: 400px;
  }
  .hero-desc {
    width: 40%;
  }
  .product-card {
    height: 430px;
  }
}

@media (max-width: 1199px) {
  .hero-card {
    height: 400px;
  }
  .hero-desc {
    width: 66%;
  }
  .product-card {
    height: 464px;
  }
}

@media (max-width: 991px) {
  .hero-card {
    height: 404px;
  }
  .hero-desc {
    width: 92%;
  }
  .product-card {
    height: 430px;
  }
}

@media (max-width: 767px) {
  .product-card {
    height: 400px;
  }
  .product-card {
    height: 528px;
  }
}

@media (max-width: 600px) {
  .hero-card {
    height: 500px;
  }
  .product-card {
    height: 400px;
  }
  .product-card {
    height: 446px;
  }

  .buy-now-btn2 {
    margin-top: 16px;
  }
}

@media (max-width: 480px) {
  .hero-card {
    height: 565px;
  }
  .product-card {
    height: 400px;
  }
  .product-card {
    height: 446px;
  }

  .buy-now-btn2 {
    margin-top: 16px;
  }
}

/* @media (max-width: 767px) {
  .product-card {
    flex-direction: row;
    height: auto;
  }
  .product-card-image {
    max-width: 230px;
  }
}

@media (min-width: 768) {
  .product-card {
    height: 440px;
  }
  .hero-card {
    height: 532px;
  }
}

@media (min-width: 992) {
  .product-card {
    height: 420px;
  }
  .hero-card {
    height: 400px;
  }
}

@media (min-width: 1200) {
  .product-card {
    height: 400px;
  }
} */

.product-card-title {
  padding-left: 15px;
  font-family: 'Karbon Thin';
  font-size: 22px;
}

.product-card-desc {
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Karbon Thin';
  font-size: 20px;
  color: #8f989f;
}

.coin-widget {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #232323;
  padding: 12px;
  align-self: flex-end;
  width: 300px;
}

.coin-stat-line {
  border-bottom: 1px solid #444444;
  display: flex;
  margin-bottom: 8px;
}

.coin-stat-title {
  flex: 1;
  color: #aaaaaa;
  font-size: 16px;
  text-transform: uppercase;
}

.coin-stat-value {
  flex: 1;
  justify-content: right;
  color: white;
  text-align: right;
  font-size: 16px;
  font-family: 'Karbon Bold';
}

.nomics {
  flex: 1;
  justify-content: right;
  color: #aaaaaa;
  text-align: right;
  font-size: 12px;
}

.nomics > a {
  color: #aaaaaa;
  text-decoration: underline;
}

.coin-stat-line:last-child {
  border: none;
  margin-top: 2px;
  margin-bottom: 0;
}

.coin-stat-positive {
  color: #46cb71;
}

.coin-stat-negative {
  color: #ce2834;
}

.hero-card {
  display: flex;
  background-color: #202020;
  background-image: url(../img/asic-bg.png);
  background-size: auto;
  background-position: right top;
  color: white;
  xborder: 2px solid #460a0b;
  box-shadow: 0 0 20px 2px red;
  flex-direction: column;
  padding: 20px;
}

.hero-heading {
  font-family: 'Karbon Regular';
  font-size: 40px;
}

.hero-desc {
  font-family: 'Karbon Thin';
  font-size: 20px;
  flex: 1;
}

.hero-image {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 100px;
  height: 100px;
}

h4 {
  color: white;
  font-family: 'Karbon Regular';
}

.colo-table {
  color: #a7a7a7;
  font-size: 22px;
  font-family: 'Karbon Light';
  border: 1px solid #ba0f1a;
  margin-bottom: 20px;
  margin-top: 40px;
}

.colo-table-header,
.colo-table-footer {
  color: white;
  background: #ba0f1a;
}

.colo-table-header div {
  position: relative;
  top: 3px;
}
.colo-table-header div:last-child {
  left: 18px;
}

.colo-table-footer {
  font-size: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid #ff8888;
}

.colo-table-footer:last-child {
  border-bottom: none;
}

.colo-table-row {
  margin-top: 10px;
  border-bottom: 1px solid #ba0f1a;
}

.colo-table-row:last-child {
  border: none;
}

a.colo-table-link,
a.colo-table-link:hover {
  color: white;
}

.colo-table-contact-link,
.colo-table-contact-link:hover {
  color: red;
}

.colo-common-features-list {
  color: #a7a7a7;
  font-size: 22px;
  font-family: 'Karbon Light';
}

.colo-features-list li:last-child {
  margin-bottom: 30px;
}

.sia-color {
  color: #00cba0;
}

.decred-color {
  color: #2971ff;
}

.preorder-title {
  font-size: 44px;
  font-family: 'Karbon Thin';
  color: #fff;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 80px;
}

.preorder-hardware-button {
  border: 2px solid #2b2b2b;
  border-radius: 40px;
  background: black;
  margin-bottom: 30px;
}

.preorder-hardware-button:hover {
  border: 2px solid #6a6a6a;
}

.preorder-coin-logo {
  width: auto;
  height: 45px;
  align-self: center;
  margin-bottom: 20px;
}

.preorder-coin-msg {
  color: #666666;
  font-size: 22px;
  font-family: 'Karbon Light';
}

.vertical-spacer {
  height: 120px;
}

@media (max-width: 992px) {
  .preorder-title {
    margin-top: 40px;
  }
}

@media (min-width: 992px) {
  .preorder-title::after {
    content: '';
    position: absolute;
    top: 110px;
    left: 15%;
    height: 1px;
    width: 70%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,3a3a3a+16,3a3a3a+84,000000+100 */
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(
      left,
      #000000 0%,
      #3a3a3a 16%,
      #3a3a3a 84%,
      #000000 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      left,
      #000000 0%,
      #3a3a3a 16%,
      #3a3a3a 84%,
      #000000 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to right,
      #000000 0%,
      #3a3a3a 16%,
      #3a3a3a 84%,
      #000000 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
  }
}
.preorder-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.team-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.team-member-image {
  width: 45%;
  margin-bottom: 5px;
  height: 144px;
  width: 144px;
}

.company-image {
  width: 48%;
  margin-bottom: 7px;
}

.team-member-container {
  color: #666666;
  font-size: 22px;
  font-family: 'Karbon Light';
  align-items: center;
  text-align: center;
}

.team-role {
  font-family: 'Karbon Thin';
  color: #e4001b;
  margin-bottom: 30px;
}

.red-color {
  color: #e4001b;
}

.tech-specs-product-name {
  color: white;
}

.countdown-container {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  float: left;
  width: 154px;
}

.countdown-msg {
  color: #666666;
  font-size: 16px;
}

.sale-over-msg {
  color: #666666;
  font-size: 16px;
  display: none;
}

.countdown-label {
  color: #666666;
  text-align: center;
}

.countdown-dd::after,
.countdown-hh::after,
.countdown-mm::after {
  content: ':';
}

.countdown-ddhhmmss {
  color: #404040;
  font-size: 16px;
  position: relative;
  top: -12px;
}

.countdown-timer {
  font-size: 25px;
  font-family: 'Karbon Regular';
  width: 28px;
  text-align: center;
}

.countdown-timer-container {
  width: 27px;
}

.cost-section > h3 {
  font-family: 'Karbon Light';
  color: #9b9ea2;
  margin-bottom: 15px;
}

.downloads-subheading {
  font-family: 'Karbon Light';
  color: #fff;
  font-size: 36px;
}

.downloads-subheading5 {
  font-family: 'Karbon Light';
  color: #fff;
  font-size: 28px;
}

.download-item {
  font-family: 'Karbon Light';
  color: #a7a7a7;
  font-size: 24px;
  cursor: pointer;
}

.download-item a {
  color: #a7a7a7;
}

.bold-note {
  font-family: 'Karbon Bold' !important;
}

.release-note {
  font-family: 'Karbon Light';
  color: #a7a7a7;
  font-size: 22px;
}

.red-link,
.red-link:hover {
  color: red;
}

ul > ul {
  color: #a7a7a7;
  font-size: 20px;
  font-family: 'Karbon Light';
}

ul > ul > li:last-child {
  margin-bottom: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #202020;
  min-width: 125px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  font-size: 16px;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Dropdown button on hover & focus */
.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #444444;
  cursor: pointer;
}

.show {
  display: block;
}

.spec-heading {
  font-family: 'Karbon Regular';
}

.important-info {
  font-family: 'Karbon Medium';
  color: white;
}

.bright {
  color: white;
}

/* Style the tab */
.tab-set {
  overflow: hidden;
  border: 1px solid transparent;
}

/* Style the buttons that are used to open the tab content */
.tab-set button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  color: white;
  background: transparent;
  font-family: 'Karbon Regular';
  font-size: 20px;
}

/* Change background color of buttons on hover */
.tab-set button:hover {
  border-bottom: 3px solid #444444;
}

/* Create an active/current tablink class */
.tab-set button.active {
  border-bottom: 3px solid #e4001b;
}

/* Style the tab content */
.tab-content {
  display: none;
  padding: 6px 12px;
}
